# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IDEA_projects\netcracker_matrix\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
